.message{
	padding:5px 20px 5px 20px;
	margin:5px;
	overflow:auto;
	border-bottom:2px dashed black;
}
.error{
	border-color:red;
}
#body .errorHighlight, .error{
	background:#fff9f9;
	color:#d00;
}
.success{
	border-color:green;
}
#body .successHighlight, .success{
	background:#f9fff9;
	color:#0d0;
}
.notice{
	border-color:blue;
}
#body .noticeHighlight, .notice{
	background:#f9f9ff;
	color:#00d;
}
.warning{
	border-color:orange;
}
#body .warningHighlight, .warning{
	background:#fffbf0;
	color:#ca0;
}

.ln{
	cursor:pointer;
	color:blue;
}


/*+	standard table and table sort{*/

table.standard{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
	border:1px solid #eef;
}
table.standard th{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 8px 8px;
	border-bottom: 2px solid #6678b1;
	background-color: #eef;
}
table.standard > tbody > tr > td{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
table.standard > tbody > tr:nth-child(2n){
	background-color: #f3f3f3;
}


.sortContainer *[data-field]{
	background-image: url("/public/img/style/sortBoth.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}


.sortContainer .sortAsc {
    background-image: url("/public/img/style/sortAsc.gif");
}
.sortContainer .sortDesc{
    background-image: url("/public/img/style/sortDesc.gif");
}
/*+	}*/


/*+	paginater{*/
.paginater{
	margin:10px 5px 2px 5px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle;
	min-width:800px;
}

.paginater .first, .paginater .prev, .paginater .pg, .paginater .next, .paginater .last, .paginater .range{
	float:left;
}
.paginater .first, .paginater .prev, .paginater .pg, .paginater .next, .paginater .last, .paginater .range{
	float:left;
}
.paginater .direct, .paginater .go{
	float:right;
}
.paginater .prev.clk{
	margin-right:10px;
}
.paginater .next.clk{
	margin-left:10px;
}
.paginater .clk{
	border-radius: 4px 4px 4px 4px;
	background-color:#eee;
	padding:0px 5px 0px 5px;
	margin-left:2px;
    height: 22px;
    line-height:22px;
    cursor:pointer;
}
.paginater .clk.pg.current{
	background-color:#ccf;
}

.paginater .clk:hover{
	background-color:#ddf;
}
.paginater .clk:active{
	background-color:#99f;
	color:#fff;
}

.paginater .clk.disabled{
	background-color:#ddd;
	color:#a9a9a9;
	cursor:default;
}
.paginater .clk.disabled:hover{
	background-color:#ddd;
	color:#a9a9a9;
}
.paginater .clk.disabled:active{
	background-color:#ddd;
	color:#a9a9a9;
}

.paginater .range{
	padding:0px 5px 0px 5px;
	height: 22px;
    line-height:22px;
	padding-left:20px;
}
.paginater .range span{
	vertical-align:middle;
	display:inline;
}
.paginater .direct input{
	width:30px;
}
.paginater .range .current,.paginater .range .total{
	font-weight:bold;
}
/*+	}*/
/*+	Tool tip {*/
.tooltipMarker{
	padding-left:8px;
	position:relative;
	top:3px;
	cursor:pointer;
	color:blue;
	display:inline-block;
	vertical-align:top;
	font-size:7pt;
}
.tooltip{
	position:absolute;
	background:#DDF3FA;
	padding:10px;
	border:3px solid rgba(27,133,165,0.2);
	max-width:500px;
	color:black;
	z-index:1000;
	display:none;
	border-radius:10px 10px 10px 10px;
	opacity:0.9;
}
/*+	}*/

.closeButton{
	float:right;
	padding-left:10px;
	cursor:pointer;
	background-image: url("/tpfile/img/closeButton.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	width:16px;
	height:16px;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

body input[name="directPg"]{
	padding:0px;
	margin:0px;
	line-height:1;
}